<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GemocExecutionEngineTrace -->
      <package
            uri="http://www.inira.fr/gemoc_execution_trace"
            class="org.gemoc.execution.engine.trace.gemoc_execution_trace.GemocExecutionEngineTracePackage"
            genModel="model/GemocExecutionEngineTrace.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GemocExecutionEngineTrace -->
      <package
            uri="http://www.inria.fr/sophia/aoste/trace/1.0.0"
            class="fr.inria.aoste.trace.TracePackage"
            genModel="model/GemocExecutionEngineTrace.genmodel"/>
   </extension>

</plugin>
