<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated GemocExecutionEngineTrace -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.execution.engine.trace.gemoc_execution_trace.presentation.Gemoc_execution_traceModelWizardID"
            name="%_UI_Gemoc_execution_traceModelWizard_label"
            class="org.gemoc.execution.engine.trace.gemoc_execution_trace.presentation.Gemoc_execution_traceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Gemoc_execution_traceModelFile.gif">
         <description>%_UI_Gemoc_execution_traceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated GemocExecutionEngineTrace -->
      <editor
            id="org.gemoc.execution.engine.trace.gemoc_execution_trace.presentation.Gemoc_execution_traceEditorID"
            name="%_UI_Gemoc_execution_traceEditor_label"
            icon="icons/full/obj16/Gemoc_execution_traceModelFile.gif"
            extensions="gemoc_execution_trace"
            class="org.gemoc.execution.engine.trace.gemoc_execution_trace.presentation.Gemoc_execution_traceEditor"
            contributorClass="org.gemoc.execution.engine.trace.gemoc_execution_trace.presentation.Gemoc_execution_traceActionBarContributor">
      </editor>
   </extension>

</plugin>
