<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.obeo.fr/dsl/sirius/umlanimation"
            class="fr.obeo.dsl.sirius.animation.uml.umlanimation.UmlanimationPackage"
            genModel="model/umlanim.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="umlanimation"
            class="fr.obeo.dsl.sirius.animation.uml.umlanimation.util.UmlanimationResourceFactoryImpl"/>
   </extension>

</plugin>
