<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="sigpml.xdsml.api.impl.SigpmlCodeExecutor" modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.sample.sigpml.xdsml.Sigpml" solver_class="org.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.gemoc.sample.sigpml.moc.application/qvto-gen/modeling/SigPML.qvto" xdsmlFilePath="/org.gemoc.sample.sigpml.xdsml/bin/org/gemoc/sample/sigpml/xdsml/Main.melange">
      <XDSML_Definition_Customization fileExtensions="sigpml" />
    </XDSML_Definition>
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.sample.sigpml.xdsml.SigpmlMT" uri="http://sigpmlmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="OutputPort:org.gemoc.sample.sigpml.k3dsa.OutputPortAspect;Agent:org.gemoc.sample.sigpml.k3dsa.AgentAspect;InputPort:org.gemoc.sample.sigpml.k3dsa.InputPortAspect;HWComputationalResource:org.gemoc.sample.sigpml.k3dsa.HWComputationalResourceAspect;NamedElement:org.gemoc.sample.sigpml.k3dsa.NamedElementAspect;Place:org.gemoc.sample.sigpml.k3dsa.PlaceAspect;System:org.gemoc.sample.sigpml.k3dsa.SystemAspect" entryPoints="" exactType="org.gemoc.sample.sigpml.xdsml.SigpmlMT" id="org.gemoc.sample.sigpml.xdsml.Sigpml" uri="http://org.gemoc.sigpml.model/1.0">
      <adapter class="org.gemoc.sample.sigpml.xdsml.sigpml.adapters.sigpmlmt.SigpmlAdapter" modeltypeId="org.gemoc.sample.sigpml.xdsml.SigpmlMT" />
    </language>
  </extension>
</plugin>
