<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Acceleo Plug-in Application (Default)"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/org.gemoc.gemoc_studio.documentation.architecture/model.uml"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/org.gemoc.gemoc_studio.documentation.architecture/latex"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.gemoc.gemoc_studio.documentation.architecture.gen/src/org/gemoc/gemoc_studio/documentation/architecture/gen/main/Latex.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.gemoc.gemoc_studio.documentation.architecture.gen.main.Latex"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;D:/Users/dvojtise/git/gemoc-dev/org/gemoc/gemoc_studio/documentation/org.gemoc.gemoc_studio.documentation.architecture/model.uml&quot; &quot;D:/Users/dvojtise/git/gemoc-dev/org/gemoc/gemoc_studio/documentation/org.gemoc.gemoc_studio.documentation.architecture/latex&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.gemoc.gemoc_studio.documentation.architecture.gen"/>
</launchConfiguration>
