<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.gemoc.sample.tfsm.sequential.xtfsm.design.Activator"
               id="org.gemoc.sample.tfsm.sequential.xtfsm.design"
	       name="TFSM Sequential">
    </component>
  </extension>
</plugin>
