<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="gee_configuration.presentation.Gee_configurationModelWizardID"
            name="%_UI_Gee_configurationModelWizard_label"
            class="gee_configuration.presentation.Gee_configurationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Gee_configurationModelFile.gif">
         <description>%_UI_Gee_configurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="gee_configuration.presentation.Gee_configurationEditorID"
            name="%_UI_Gee_configurationEditor_label"
            icon="icons/full/obj16/Gee_configurationModelFile.gif"
            extensions="gee_configuration"
            class="gee_configuration.presentation.Gee_configurationEditor"
            contributorClass="gee_configuration.presentation.Gee_configurationActionBarContributor">
      </editor>
   </extension>

</plugin>
