<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.gemoc.gemoc_language_workbench.deciders">
      <DeciderSpecification
            Class="org.gemoc.executionengine.ccsljava.engine.deciders.RandomDecider"
            Icon="icons/question-shield-black-16.png"
            Name="Random decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.gemoc.executionengine.ccsljava.engine.deciders.CcslSolverDecider"
            Icon="icons/app-shield-black-16.png"
            Name="Solver decider">
      </DeciderSpecification>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.engine_addon_group">
         <AddonGroup
            Name="General"
            id="General.AddonGroup">
      </AddonGroup>
      <AddonGroup
            Name="Concurrent"
            id="Concurrent.AddonGroup">
      </AddonGroup>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.engine_addon">
      <Addon
            AddonGroupId="Concurrent.AddonGroup"
            Class="org.gemoc.executionengine.ccsljava.engine.eventscheduling.trace.ModelExecutionTracingAddon"
            Default="true"
            Name="Concurrent Execution tracing"
            ShortDescription="Trace the LogicalStep decisions. Will open the concurrent timeline view to allow navigation in the trace and present the decision branches."
            id="ExecutionTracing.Addon">
      </Addon>
   </extension>
</plugin>
