<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated fsm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.sample.legacyfsm.fsm.presentation.FsmModelWizardID"
            name="%_UI_FsmModelWizard_label"
            class="org.gemoc.sample.legacyfsm.fsm.presentation.FsmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FsmModelFile.gif">
         <description>%_UI_FsmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated fsm -->
      <editor
            id="org.gemoc.sample.legacyfsm.fsm.presentation.FsmEditorID"
            name="%_UI_FsmEditor_label"
            icon="icons/full/obj16/FsmModelFile.gif"
            extensions="fsm"
            class="org.gemoc.sample.legacyfsm.fsm.presentation.FsmEditor"
            contributorClass="org.gemoc.sample.legacyfsm.fsm.presentation.FsmActionBarContributor">
      </editor>
   </extension>

null
null</plugin>
