<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<extension
      point="org.eclipse.emf.ecore.protocol_parser">
   <parser
         class="fr.obeo.dsl.sirius.animation.ide.debug.ProtocolParser"
         protocolName="animation">
   </parser>
</extension>
<extension
      point="org.eclipse.debug.core.sourceLocators">
   <sourceLocator
         class="fr.obeo.dsl.sirius.animation.ide.debug.EObjectSourceLocator"
         id="fr.obeo.dsl.sirius.animation.ide.debug.SourceLocator"
         name="EObjectSiriusSourceLocator">
   </sourceLocator>
</extension>

</plugin>
