<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.gemoc.executionframework.ui.category"
            name="GEMOC Execution Framework">
      </category>
      <view
            category="org.gemoc.executionframework.ui.category"
            class="org.gemoc.executionframework.ui.views.engine.EnginesStatusView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.executionframework.ui.views.engine.EnginesStatusView"
            name="Gemoc Engines Status">
      </view>
	</extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.sirius.ui.tools.perspective.modeling">
         <view
               id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>


</plugin>
