<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gepl -->
      <package
            uri="http://www.gemoc.org/patterns_language/gepl"
            class="gepl.GeplPackage"
            genModel="model/gepl.genmodel"/>
   </extension>

</plugin>
