<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.gemoc.gemoc_modeling_workbench.ui.launcher">
<booleanAttribute key="Console Backend" value="true"/>
<booleanAttribute key="Execution tracing" value="true"/>
<booleanAttribute key="GEMOC Perspective" value="true"/>
<intAttribute key="GEMOC_ANIMATE_DELAY" value="1000"/>
<booleanAttribute key="GEMOC_LAUNCH_ACTIVE_TRACE" value="true"/>
<booleanAttribute key="GEMOC_LAUNCH_BREAK_START" value="false"/>
<intAttribute key="GEMOC_LAUNCH_DEADLOCK_DETECTION_DEPTH" value="99999"/>
<stringAttribute key="GEMOC_LAUNCH_ENTRY_POINT" value=""/>
<stringAttribute key="GEMOC_LAUNCH_MELANGE_QUERY" value=""/>
<stringAttribute key="GEMOC_LAUNCH_SELECTED_DECIDER" value="Step by step user decider"/>
<stringAttribute key="GEMOC_LAUNCH_SELECTED_LANGUAGE" value="tfsm"/>
<booleanAttribute key="Open Views" value="true"/>
<stringAttribute key="Resource" value="/org.gemoc.sample.tfsm.daynight_single_traffic_light_sample/daynight_single_traffic_light_control.tfsm"/>
<booleanAttribute key="TimeLineProviderProvider" value="true"/>
<booleanAttribute key="VCD visualization" value="true"/>
<stringAttribute key="airdResource" value="/org.gemoc.sample.tfsm.daynight_single_traffic_light_sample/daynight_single_traffic_light_control.aird"/>
</launchConfiguration>
