<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.gemoc.moc.model/0.1"
            class="org.gemoc.moc.model.moccmetamodel.MoccmetamodelPackage"
            genModel="model/MoCCMetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MoCCMetamodel -->
      <package
            uri="http://org.gemoc.mocc.model/0.1"
            class="org.gemoc.mocc.model.moccmetamodel.MoccmetamodelPackage"
            genModel="model/MoCCMetamodel.genmodel"/>
   </extension>

</plugin>
