<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="gemocLanguageDesignerBuilder"
         name="Gemoc Language Designer Project"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.gemoc.gemoc_language_workbench.ui.builder.GemocLanguageDesignerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="gemocLanguageDesignerNature"
         name="Gemoc Language Designer Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.gemoc.gemoc_language_workbench.ui.builder.GemocLanguageDesignerNature">
         </run>
      </runtime>
      <builder
            id="org.gemoc.gemoc_language_workbench.ui.gemocLanguageDesignerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.gemoc_language_workbench.ui.addnature.contribution">
         <action
               class="org.gemoc.gemoc_language_workbench.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/gemoc-logo-16.png"
               id="org.gemoc.gemoc_language_workbench.ui.addRemoveNatureAction"
               label="Add Gemoc Language Designer Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
         <and>
            <not>
                <objectState name="projectNature" value="org.gemoc.gemoc_language_workbench.ui.gemocLanguageDesignerNature"/>
            </not>
            <objectClass name="org.eclipse.core.resources.IProject" />
          </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.gemoc_language_workbench.ui.removenature.contribution">
         <action
               class="org.gemoc.gemoc_language_workbench.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/gemoc-logo-16.png"
               id="org.gemoc.gemoc_language_workbench.ui.addRemoveNatureAction"
               label="Remove Gemoc Language Designer Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         
	    <visibility>
	       <and>
	          <objectClass
	                name="org.eclipse.core.resources.IProject">
	          </objectClass>
	          <objectState
	                name="projectNature"
	                value="org.gemoc.gemoc_language_workbench.ui.gemocLanguageDesignerNature">
	          </objectState>
	       </and>
	    </visibility>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/gemoc-logo-12.png"
            id="org.gemoc.gemoc_language_workbench.ui.gemocLanguageDesignerNature.image"
            natureId="org.gemoc.gemoc_language_workbench.ui.gemocLanguageDesignerNature">
      </image>
   </extension>
   <!-- definitions of commands -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.CreateDomainModelProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.CreateDomainModelProject"
            name="CreateDomainModelProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.ShowDomainModelProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.ShowDomainModelProject"
            name="ShowDomainModelProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.CreateDSAProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.CreateDSAProject"
            name="CreateDSAProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.ShowDSAProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.ShowDSAProject"
            name="ShowDSAProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.CreateDSEProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.CreateDSEProject"
            name="CreateDSEProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.ShowDSEProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.ShowDSEProject"
            name="ShowDSEProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.CreateMoCProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.CreateMoCProject"
            name="CreateMoCProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.ShowMoCProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.ShowMoCProject"
            name="ShowMoCProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.CreateEditorProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.CreateEditorProject"
            name="CreateEditorProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.ShowEditorProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.ShowEditorProject"
            name="ShowEditorProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.CreateAnimatorProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.CreateAnimatorProject"
            name="CreateAnimatorProject">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.ui.commands.ShowAnimatorProjectHandler"
            id="org.gemoc.gemoc_language_workbench.ui.commands.ShowAnimatorProject"
            name="ShowAnimatorProject">
      </command>
   </extension>
   <!-- contributions to popup menus -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/gemoc-logo-16.png"
               id="GemocLanguage.menu"
               label="Gemoc Language">
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.CreateDomainModelProject"
                  label="Create Domain Model Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <not>
                        <reference
                              definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.editorOrSelectionProjectHasDomainModelProject">
                        </reference>
                     </not>
                     <reference
                           definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.ShowDomainModelProject"
                  label="Show Domain Model Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.editorOrSelectionProjectHasDomainModelProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.CreateDSAProject"
                  label="Create DSA Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.ShowDSAProject"
                  label="Show DSA Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.CreateMoCProject"
                  label="Create MoC Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.ShowMoCProject"
                  label="Show MoC Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.CreateDSEProject"
                  label="Create DSE Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.ShowDSEProject"
                  label="Show DSE Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.CreateEditorProject"
                  label="Create Editor Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.ShowEditorProject"
                  label="Show Editor Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.CreateAnimatorProject"
                  label="Create Animator Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.gemoc.gemoc_language_workbench.ui.commands.ShowAnimatorProject"
                  label="Show Animator Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <!-- expression definitions for simplifying the filtering of command and menu contributions -->
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.gemoc.gemoc_language_workbench.ui.definitions.IsSelectionInGemocLanguageProject">
         <iterate
               operator="or">
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.projectNature "
                     value="org.gemoc.gemoc_language_workbench.ui.gemocLanguageDesignerNature">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="org.gemoc.gemoc_language_workbench.ui.definitions.IsEditorOrSelectionInGemocLanguageProject">
         <or>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectNature "
                        value="org.gemoc.gemoc_language_workbench.ui.gemocLanguageDesignerNature">
                  </test>
               </adapt>
            </with>
            <with
                  variable="selection">
               <reference
                     definitionId="org.gemoc.gemoc_language_workbench.ui.definitions.IsGemocLanguageProject">
               </reference>
            </with>
         </or>
      </definition>
      <definition
            id="org.gemoc.gemoc_language_workbench.ui.definitions.editorOrSelectionProjectHasDomainModelProject">
         <or>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.projectPersistentProperty"
                        value="org.gemoc.gemoc_language_workbench.ui.gemoc_project_has_DomainModel">
                  </test>
               </adapt>
            </with>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.projectPersistentProperty"
                           value="org.gemoc.gemoc_language_workbench.ui.gemoc_project_has_DomainModel">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </or>
      </definition>
   </extension>

</plugin>
