<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XSTFSM -->
      <package
            uri="http://org.gemoc.sample.legacytfsm.xstfsm.xstfsm/tfsm/"
            class="org.gemoc.sample.legacytfsm.xstfsm.xstfsm.tfsm.TfsmPackage"
            genModel="model/XSTFSM.genmodel"/>
   </extension>

</plugin>
