<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.sample.legacytfsm.tfsm.TFSM" xdsmlFilePath="/org.gemoc.sample.legacytfsm.tfsm/bin/org/gemoc/sample/legacytfsm/tfsm/TFSM.melange"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.sample.legacytfsm.tfsm.TFSMMT" uri="http://org.gemoc.sample.legacytfsm.tfsm.tfsmmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.gemoc.sample.legacytfsm.tfsm.TFSMMT" id="org.gemoc.sample.legacytfsm.tfsm.TFSM" uri="http://www.gemoc.org/legacytfsm/tfsm"/>
  </extension>
</plugin>
