<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GemocModelMappingLanguage -->
      <package
            uri="http://org.gemoc.dse_language.model_level/gmml"
            class="gmml.GmmlPackage"
            genModel="model/GemocModelMappingLanguage.genmodel"/>
   </extension>

</plugin>
