<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Tfsm -->
      <package
            uri="http://tfsm/tfsm_plaink3/"
            class="org.gemoc.sample.tfsm.plaink3.xdsml.tfsm.tfsm_plaink3.Tfsm_plaink3Package"
            genModel="model/Tfsm.genmodel"/>
   </extension>

</plugin>
