<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NewTfsm -->
      <package
            uri="http://org.gemoc.execution.engine.example.tfsm"
            class="newTfsm.NewTfsmPackage"
            genModel="model/NewTfsm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Tfsm -->
      <package
            uri="http://org.gemoc.execution.engine.example.tfsm"
            class="tfsm.TfsmPackage"
            genModel="model/Tfsm.genmodel"/>
   </extension>

</plugin>
