<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Scenario -->
      <package
            uri="http://www.inira.fr/scenario"
            class="org.gemoc.executionengine.ccsljava.stimuli_scenario.scenario.ScenarioPackage"
            genModel="model/Scenario.genmodel"/>
   </extension>

</plugin>
