<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2015, 2017  I3S Laboratory  and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        I3S Laboratory - initial API and implementation
 -->

<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="tfsm.xdsml.api.impl.TfsmCodeExecutor" modelLoader_class="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DefaultModelLoader" toCCSLQVTOFilePath="/org.gemoc.sample.tfsm.eclmoc2as/qvto-gen/modeling/TFSM.qvto" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" name="tfsm for raspberry" xdsmlFilePath="/org.gemoc.sample.tfsm.raspberry.xdsml/project.xdsml" />
  </extension>
</plugin>
