<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.gemoc.gemoc_language_workbench.dashboard.GemocDashboardEditor"
            default="false"
            icon="icons/full/obj16/menu-overview.gif"
            id="org.gemoc.gemoc_language_workbench.dashboard.editor"
            name="Gemoc Dashboard">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.gemoc.gemoc_language_workbench.dashboard.OpenDashboard"
            id="org.gemoc.gemoc_language_workbench.dashboard.open.action">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="xdsml">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
         <includes>
            <actionExtension
                  pattern="org.gemoc.gemoc_language_workbench.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.gemoc.gemoc_language_workbench.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

  

</plugin>
