<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Gemoc"
            id="org.gemoc.gemoc_process.wizard">
      </category>
      <wizard
            category="org.gemoc.gemoc_process.wizard"
            class="org.gemoc.gemoc_process.wizard.wizards.KermetaProjectNewWizard"
            icon="icons/gemoc-logo_16x16.png"
            id="org.gemoc.gemoc_process.wizard.wizards.KermetaProjectNewWizard"
            name="Gemoc project"
            project="true">
      </wizard>      
      <wizard
            category="org.gemoc.gemoc_process.wizard"
            class="org.gemoc.gemoc_process.wizard.wizards.GemocProjectNewWizard"
            icon="icons/gemoc-logo_16x16.png"
            id="org.gemoc.gemoc_process.wizard.wizards.GemocProjectNewWizard"
            name="DSML"
            project="true">
      </wizard>
   </extension>  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.kermeta.language.builder.eclipse.preferences.KermetaPreferencePage"
            class="org.gemoc.gemoc_process.wizard.preferences.KermetaPreferencePage"
            id="org.gemoc.gemoc_process.wizard.preferences.KermetaPreferencePage"
            name="Gemoc template Preferences">
      </page>
   </extension> 
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.gemoc.gemoc_process.wizard.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
