<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gemocDSEBuilder"
         name="GemocDSE Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.gemoc.dse.ecl.moc2as.ui.builder.GemocDSEBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="gemocDSENature"
         name="GemocDSE Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.gemoc.dse.ecl.moc2as.ui.builder.GemocDSENature">
         </run>
      </runtime>
      <builder
            id="org.gemoc.dse.ecl.moc2as.ui.gemocDSEBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.gemoc.dse.ecl.moc2as.ui.gemocDSENature.category"
            name="GemocDSE Project Nature commands">
      </category>
      <command
            categoryId="org.gemoc.dse.ecl.moc2as.ui.gemocDSENature.category"
            defaultHandler="org.gemoc.dse.ecl.moc2as.ui.builder.AddRemoveGemocDSENatureHandler"
            id="org.gemoc.dse.ecl.moc2as.ui.addRemoveGemocDSENature"
            name="Add/RemoveGemocDSE Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.gemoc.dse.ecl.moc2as.ui.addRemoveGemocDSENature"
               label="Disable GemocDSE builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.gemoc.dse.ecl.moc2as.ui.gemocDSENature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.gemoc.dse.ecl.moc2as.ui.addRemoveGemocDSENature"
               label="Enable GemocDSE builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.gemoc.dse.ecl.moc2as.ui.gemocDSENature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="dseProblem"
         name="DSE Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   

</plugin>
