<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated animationtemplate -->
      <package
            uri="http://www.obeo.fr/dsl/sirius/animation/template"
            class="fr.obeo.dsl.sirius.animationtemplate.AnimationtemplatePackage"
            genModel="model/animationtemplate.genmodel"/>
   </extension>

</plugin>
