<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">      
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="eclipse_help/guide/eclipse/toc.xml"
            primary="false">
      </toc>
      <toc
            file="eclipse_help/tutorial_markedgraph/eclipse/toc.xml"
            primary="false">
      </toc>
      <toc
            file="eclipse_help/tutorial_sigpml/eclipse/toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
