<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.sample.minifsm.MiniFSM" xdsmlFilePath="/org.gemoc.sample.minifsm/src/org/gemoc/sample/MiniFSM.melange" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated MiniFSMMT -->
    <package class="org.gemoc.sample.minifsmmt.minifsm.MinifsmPackage" genModel="model-gen/MiniFSMMT.genmodel" uri="http://org.gemoc.sample.minifsmmt/minifsm/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated MiniFSM -->
    <package class="org.gemoc.sample.minifsm.minifsm.MinifsmPackage" genModel="model-gen/MiniFSM.genmodel" uri="http://org.gemoc.sample.minifsm/minifsm/" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.sample.minifsm.dsl.MiniFSMMT" uri="http://org.gemoc.sample.minifsm.dsl.minifsmmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="MiniStateMachine:org.gemoc.sample.minifsm.dsl.minifsm.aspects.MiniStateMachineAspect;State:org.gemoc.sample.minifsm.dsl.minifsm.aspects.StateAspect;Transition:org.gemoc.sample.minifsm.dsl.minifsm.aspects.TransitionAspect" entryPoints="" exactType="org.gemoc.sample.minifsm.dsl.MiniFSMMT" id="org.gemoc.sample.minifsm.dsl.MiniFSM" uri="http://org.gemoc.sample.minifsm.dsl.minifsm/minifsm/">
      <adapter class="org.gemoc.sample.minifsm.dsl.minifsm.adapters.minifsmmt.MiniFSMAdapter" modeltypeId="org.gemoc.sample.minifsm.dsl.MiniFSMMT" />
    </language>
  </extension>
</plugin>
