<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Scenario -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.execution.engine.scenario.presentation.ScenarioModelWizardID"
            name="%_UI_ScenarioModelWizard_label"
            class="org.gemoc.execution.engine.scenario.presentation.ScenarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScenarioModelFile.gif">
         <description>%_UI_ScenarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Scenario -->
      <editor
            id="org.gemoc.execution.engine.scenario.presentation.ScenarioEditorID"
            name="%_UI_ScenarioEditor_label"
            icon="icons/full/obj16/ScenarioModelFile.gif"
            extensions="scenario"
            class="org.gemoc.execution.engine.scenario.presentation.ScenarioEditor"
            contributorClass="org.gemoc.execution.engine.scenario.presentation.ScenarioActionBarContributor">
      </editor>
   </extension>

</plugin>
