<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012-2016 GEMOC consortium.
 
 http://www.gemoc.org
 
 Contributors:
   Stephen Creff - ENSTA Bretagne [stephen.creff@ensta-bretagne.fr]
   
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
   
 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.presentation.CometaModelWizardID"
            name="%_UI_CometaModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.presentation.CometaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CometaModelFile.gif">
         <description>%_UI_CometaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.fsmdefinition.presentation.FsmdefinitionEditorID"
            name="%_UI_FsmdefinitionEditor_label"
            icon="icons/full/obj16/FsmdefinitionModelFile.gif"
            extensions="fsmdefinition"
            class="org.gemoc.mocc.cometaccsl.model.cometa.fsmdefinition.presentation.FsmdefinitionEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.fsmdefinition.presentation.FsmdefinitionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.ccslmoc.presentation.CcslmocEditorID"
            name="%_UI_CcslmocEditor_label"
            icon="icons/full/obj16/CcslmocModelFile.gif"
            extensions="ccslmoc"
            class="org.gemoc.mocc.cometaccsl.model.cometa.ccslmoc.presentation.CcslmocEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.ccslmoc.presentation.CcslmocActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.fsmdefinition.presentation.FsmdefinitionModelWizardID"
            name="%_UI_FsmdefinitionModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.fsmdefinition.presentation.FsmdefinitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FsmdefinitionModelFile.gif">
         <description>%_UI_FsmdefinitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.ccsl4cometaspecialisation.presentation.Ccsl4cometaspecialisationEditorID"
            name="%_UI_Ccsl4cometaspecialisationEditor_label"
            icon="icons/full/obj16/Ccsl4cometaspecialisationModelFile.gif"
            extensions="ccsl4cometaspecialisation"
            class="org.gemoc.mocc.cometaccsl.model.cometa.ccsl4cometaspecialisation.presentation.Ccsl4cometaspecialisationEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.ccsl4cometaspecialisation.presentation.Ccsl4cometaspecialisationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.ccslmoc.presentation.CcslmocModelWizardID"
            name="%_UI_CcslmocModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.ccslmoc.presentation.CcslmocModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CcslmocModelFile.gif">
         <description>%_UI_CcslmocModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.presentation.CometaEditorID"
            name="%_UI_CometaEditor_label"
            icon="icons/full/obj16/CometaModelFile.gif"
            extensions="cometa"
            class="org.gemoc.mocc.cometaccsl.model.cometa.presentation.CometaEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.presentation.CometaActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometadatatype.presentation.CometadatatypeModelWizardID"
            name="%_UI_CometadatatypeModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometadatatype.presentation.CometadatatypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CometadatatypeModelFile.gif">
         <description>%_UI_CometadatatypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometatime.presentation.CometatimeEditorID"
            name="%_UI_CometatimeEditor_label"
            icon="icons/full/obj16/CometatimeModelFile.gif"
            extensions="cometatime"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometatime.presentation.CometatimeEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.cometatime.presentation.CometatimeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.ccsl4cometaspecialisation.presentation.Ccsl4cometaspecialisationModelWizardID"
            name="%_UI_Ccsl4cometaspecialisationModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.ccsl4cometaspecialisation.presentation.Ccsl4cometaspecialisationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ccsl4cometaspecialisationModelFile.gif">
         <description>%_UI_Ccsl4cometaspecialisationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometastructure.presentation.CometastructureEditorID"
            name="%_UI_CometastructureEditor_label"
            icon="icons/full/obj16/CometastructureModelFile.gif"
            extensions="cometastructure"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometastructure.presentation.CometastructureEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.cometastructure.presentation.CometastructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometatime.presentation.CometatimeModelWizardID"
            name="%_UI_CometatimeModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometatime.presentation.CometatimeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CometatimeModelFile.gif">
         <description>%_UI_CometatimeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometadatatype.presentation.CometadatatypeEditorID"
            name="%_UI_CometadatatypeEditor_label"
            icon="icons/full/obj16/CometadatatypeModelFile.gif"
            extensions="cometadatatype"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometadatatype.presentation.CometadatatypeEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.cometadatatype.presentation.CometadatatypeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometamoc.presentation.CometamocModelWizardID"
            name="%_UI_CometamocModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometamoc.presentation.CometamocModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CometamocModelFile.gif">
         <description>%_UI_CometamocModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Cometa -->
      <editor
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometamoc.presentation.CometamocEditorID"
            name="%_UI_CometamocEditor_label"
            icon="icons/full/obj16/CometamocModelFile.gif"
            extensions="cometamoc"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometamoc.presentation.CometamocEditor"
            contributorClass="org.gemoc.mocc.cometaccsl.model.cometa.cometamoc.presentation.CometamocActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Cometa -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.mocc.cometaccsl.model.cometa.cometastructure.presentation.CometastructureModelWizardID"
            name="%_UI_CometastructureModelWizard_label"
            class="org.gemoc.mocc.cometaccsl.model.cometa.cometastructure.presentation.CometastructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CometastructureModelFile.gif">
         <description>%_UI_CometastructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
null
</plugin>
