<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.gemoc.sample.sigpml.concrete.design.Activator"
               id="org.gemoc.sample.sigpml.model.design"
	       name="SigPML">
    </component>
  </extension>
</plugin>
