<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.gemoc_language_workbench.conf.presentation.confModelWizardID"
            name="%_UI_confModelWizard_label"
            class="org.gemoc.gemoc_language_workbench.conf.presentation.confModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/confModelFile.gif">
         <description>%_UI_confModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
   <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="org.eclipse.sirius.ui.tools.perspective.modeling">
          <newWizardShortcut
                id="org.gemoc.gemoc_language_workbench.conf.presentation.confModelWizardID">
          </newWizardShortcut>
       </perspectiveExtension>
    </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.gemoc.gemoc_language_workbench.conf.presentation.confEditorID"
            name="%_UI_confEditor_label"
            icon="icons/full/obj16/confModelFile.gif"
            extensions="xdsml"
            class="org.gemoc.gemoc_language_workbench.conf.presentation.confEditor"
            contributorClass="org.gemoc.gemoc_language_workbench.conf.presentation.confActionBarContributor">
      </editor>
   </extension>

</plugin>
