<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tfsmTrace -->
      <package
            uri="tfsmTrace"
            class="tfsmTrace.TfsmTracePackage"
            genModel="model/tfsmTrace.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tfsmTrace -->
      <package
            uri="tfsmTrace_Steps"
            class="tfsmTrace.Steps.StepsPackage"
            genModel="model/tfsmTrace.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tfsmTrace -->
      <package
            uri="tfsmTrace_States"
            class="tfsmTrace.States.StatesPackage"
            genModel="model/tfsmTrace.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tfsmTrace -->
      <package
            uri="tfsmTrace_tfsm"
            class="tfsmTrace.States.tfsm.TfsmPackage"
            genModel="model/tfsmTrace.genmodel"/>
   </extension>
  <extension point="org.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="org.gemoc.sample.tfsm.sequential.xtfsm.trace.tracemanager.TfsmTraceEngineAddon" Default="false" id="org.gemoc.sample.tfsm.sequential.xtfsm.trace" Name="tfsm MultiDimensional Trace" ShortDescription="MultiDimensional Trace support dedicated to tfsm language" openViewIds="org.gemoc.sequential_addons.multidimensional.timeline.views.timeline.MultidimensionalTimeLineView" AddonGroupId="Sequential.AddonGroup" />
  </extension>
</plugin>
