<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gepl -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="gepl.presentation.GeplModelWizardID"
            name="%_UI_GeplModelWizard_label"
            class="gepl.presentation.GeplModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GeplModelFile.gif">
         <description>%_UI_GeplModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gepl -->
      <editor
            id="gepl.presentation.GeplEditorID"
            name="%_UI_GeplEditor_label"
            icon="icons/full/obj16/GeplModelFile.gif"
            extensions="gepl"
            class="gepl.presentation.GeplEditor"
            contributorClass="gepl.presentation.GeplActionBarContributor">
      </editor>
   </extension>

</plugin>
