<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="org.gemoc.gemoc_language_workbench.deciders" name="GEMOC Decider for concurrent executable languages" schema="schema/org.gemoc.gemoc_language_workbench.decider.exsd"/>
   <extension-point id="org.gemoc.gemoc_language_workbench.concurrent.xdsml" name="Gemoc Concurrent Language Definition" schema="schema/org.gemoc.gemoc_language_workbench.concurrent.xdsml.exsd"/>

</plugin>
