<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>



	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.gemoc.gemoc_language_workbench.samples.category"
            name="Gemoc language workbench examples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.gemoc.gemoc_language_workbench.samples.category"
            class="org.gemoc.gemoc_language_workbench.sample.deployer.wizards.TFSMExampleWizard"
            finalPerspective="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            hasPages="false"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.gemoc.gemoc_language_workbench.sample.deployer.tfsm.wizard"
            name="Gemoc TFSM Language example (Concurrent)"
            preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling,fr.obeo.dsl.viewpoint.ui.tools.perspective.design">
         <description>
            T⁮his set of projects feature a simple Timed finite state machine language which is made executable using Gemoc.
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.gemoc.gemoc_language_workbench.samples.category"
            class="org.gemoc.gemoc_language_workbench.sample.deployer.wizards.TFSM_PlainK3ExampleWizard"
            finalPerspective="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            hasPages="false"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.gemoc.gemoc_language_workbench.sample.deployer.tfsm_plaink3.wizard"
            name="Gemoc TFSM Language example (Sequential)"
            preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling,fr.obeo.dsl.viewpoint.ui.tools.perspective.design">
         <description>
            T⁮his set of projects feature a simple Timed finite state machine language which is made executable using Gemoc.
         </description>
      </wizard>      
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.gemoc.gemoc_language_workbench.samples.category"
            class="org.gemoc.gemoc_language_workbench.sample.deployer.wizards.SigPMLExampleWizard"
            finalPerspective="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            hasPages="false"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.gemoc.gemoc_language_workbench.sample.deployer.sdf.wizard"
            name="Gemoc SigPML Language example (Concurrent)"
            preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling,fr.obeo.dsl.viewpoint.ui.tools.perspective.design">
         <description>
T⁮his set of projects feature a simple signal processing modeling language (SigPML) which is made executable using Gemoc.
         </description>
      </wizard>      
   </extension>
   <extension
       point="org.eclipse.help.toc">
    <toc
          file="toc.xml"
          primary="false">
    </toc>
   </extension>
</plugin>
