<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JavaSolverInput -->
      <package
            uri="http://gemoc.org/javasolverinput"
            class="javasolverinput.JavasolverinputPackage"
            genModel="model/JavaSolverInput.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JavaSolverInput -->
      <package
            uri="http://gemoc.org/javasolverinput/usage"
            class="javasolverinput.usage.UsagePackage"
            genModel="model/JavaSolverInput.genmodel"/>
   </extension>

</plugin>
