<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
        <category
            id="fr.obeo.dsl.viewpoint.modelers.category"
            name="%_UI_Wizard_category"
            parentCategory="fr.obeo.dsl.viewpoint.category"/>
      <wizard
            id="fr.obeo.dsl.designer.sample.plugin.presentation.PluginModelWizardID"
            name="%_UI_PluginModelWizard_label"
            class="fr.obeo.dsl.plugin.presentation.PluginModelWizard"
            category="fr.obeo.dsl.viewpoint.category/fr.obeo.dsl.viewpoint.modelers.category"
            icon="icons/full/obj16/PluginModelFile.gif">
         <description>%_UI_PluginModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="fr.obeo.dsl.designer.sample.plugin.presentation.PluginEditorID"
            name="%_UI_PluginEditor_label"
            icon="icons/full/obj16/PluginModelFile.gif"
            extensions="plugin"
            class="fr.obeo.dsl.plugin.presentation.PluginEditor"
            contributorClass="fr.obeo.dsl.plugin.presentation.PluginActionBarContributor">
      </editor>
   </extension>

</plugin>
