<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.gemoc.execution.engine.io.category"
            name="Gemoc">
      </category>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
            name="Gemoc Engines Status">
      </view>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.step.LogicalStepsView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.steps.LogicalStepsView"
            name="Logical Steps">
      </view>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.timeline.TimeLineView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.timeline.TimeLineView"
            name="Time Line">
      </view>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.event.EventManagerView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.event.EventManagerView"
            name="Event Manager">
      </view>
	</extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.gemoc.execution.engine.io.views.event.EventManagerView">
         <command
               commandId="org.gemoc.execution.engine.io.views.event.commands.LoadScenario"
               icon="icons/play-4-16.png"
               label="Load Scenario"
               style="push">
         </command>   
         <command
               commandId="org.gemoc.execution.engine.io.views.event.commands.StartRecordScenario"
               icon="icons/media-record.png"
               label="Start Record Scenario"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.gemoc.execution.engine.io.views.event.commands.RECORD">
                  <equals
                        value="DISABLE">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.gemoc.execution.engine.io.views.event.commands.StopRecordScenario"
               icon="icons/stop-3-16.png"
               label="Stop Record Scenario"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.gemoc.execution.engine.io.views.event.commands.RECORD">
                  <equals
                        value="ENABLE">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.gemoc.execution.engine.io.views.timeline.TimeLineView">
         <command
               commandId="org.gemoc.execution.engine.io.views.timeline.Follow"
               icon="icons/play-4-16.png"
               label="Follow"
               style="toggle"
               tooltip="Follow the last choice">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.gemoc.execution.engine.io.views.event.commands.StartRecordScenario"
            name="Start Record Scenario">
      </command>
      <command
            defaultHandler="org.gemoc.execution.engine.io.views.event.commands.StopRecordScenario"
            id="org.gemoc.execution.engine.io.views.event.commands.StopRecordScenario"
            name="Stop Record Scenario">
      </command>
      <command
            id="org.gemoc.execution.engine.io.views.event.commands.LoadScenario"
            name="Load Scenario">
      </command>
      <command
            defaultHandler="org.gemoc.execution.engine.io.views.event.commands.StopPlayScenario"
            id="org.gemoc.execution.engine.io.views.event.commands.StopPlayScenario"
            name="Stop Play Scenario">
      </command>
      <command
            defaultHandler="org.gemoc.execution.engine.io.views.event.commands.DoInit"
            id="org.gemoc.execution.engine.io.views.event.commands.DoInit"
            name="Do Init">
      </command>
      <command
            defaultHandler="org.gemoc.execution.engine.io.views.event.commands.UndoInit"
            id="org.gemoc.execution.engine.io.views.event.commands.UndoInit"
            name="Undo init">
      </command>
      <command
            defaultHandler="fr.obeo.timeline.command.FollowHandler"
            id="org.gemoc.execution.engine.io.views.timeline.Follow"
            name="Follow">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.gemoc.execution.engine.io.views.event.commands.CommandState">
         <variable
               name="PLAY_STATE"
               priorityLevel="workbench">
         </variable>
         <variable
               name="RECORD_STATE"
               priorityLevel="workbench">
         </variable>
         <variable
               name="INIT_STATE"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.gemoc.execution.engine.io.views.event.commands.LoadScenario"
            commandId="org.gemoc.execution.engine.io.views.event.commands.LoadScenario">
         <enabledWhen>
            <with
                  variable="org.gemoc.execution.engine.io.views.event.commands.RECORD">
               <equals
                     value="DISABLE">
               </equals>
               <and>
               	<with
                  variable="org.gemoc.execution.engine.io.views.event.commands.PLAY">
               		<equals
                     	value="DISABLE">
               		</equals>
                 <and>
                 	<with
                  variable="org.gemoc.execution.engine.io.views.event.commands.INIT">
               		<equals
                     	value="SET">
               		</equals>
               		</with>
                 </and>
            	</with>
            	</and>
            </with></enabledWhen>
      </handler>
      <handler
            class="org.gemoc.execution.engine.io.views.event.commands.StartRecordScenario"
            commandId="org.gemoc.execution.engine.io.views.event.commands.StartRecordScenario">
         <enabledWhen>
            <with
                  variable="org.gemoc.execution.engine.io.views.event.commands.INIT">
               <equals
                     value="SET">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.deciders">
      <DeciderSpecification
            Class="org.gemoc.execution.engine.io.views.StepByStepUserDecider"
            Icon="icons/user-shield-green-16.png"
            Name="Step by step user decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.gemoc.execution.engine.io.views.UserDecider"
            Icon="icons/user-shield-black-16.png"
            Name="User decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.gemoc.execution.engine.commons.deciders.RandomDecider"
            Icon="icons/question-shield-black-16.png"
            Name="Random decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.gemoc.execution.engine.commons.deciders.CcslSolverDecider"
            Icon="icons/app-shield-black-16.png"
            Name="Solver decider">
      </DeciderSpecification>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.backends">
      <Backend
            Class="org.gemoc.execution.engine.io.backends.ConsoleBackend"
            Default="true"
            Name="Console Backend">
      </Backend>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.frontends">
      <Frontend
            Class="org.gemoc.execution.engine.io.frontends.PrepareViewFrontend"
            Default="true"
            Name="GEMOC Perspective">
      </Frontend>
   </extension>	


</plugin>
