<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.gemoc.execution.engine.io.category"
            name="Gemoc">
      </category>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
            name="Gemoc Engines Status">
      </view>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.step.LogicalStepsView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.steps.LogicalStepsView"
            name="Logical Steps">
      </view>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.timeline.TimeLineView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.timeline.TimeLineView"
            name="Time Line">
      </view>
      <view
            category="org.gemoc.execution.engine.io.category"
            class="org.gemoc.execution.engine.io.views.event.EventManagerView"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.execution.engine.io.views.event.EventManagerView"
            name="Event Manager">
      </view>
	</extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.gemoc.execution.engine.io.views.engine.EnginesStatusView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.gemoc.execution.engine.io.views.timeline.TimeLineView">
         <command
               commandId="org.gemoc.execution.engine.io.views.timeline.Follow"
               icon="icons/play-4-16.png"
               label="Follow"
               style="toggle"
               tooltip="Follow the last choice">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.obeo.timeline.command.FollowHandler"
            id="org.gemoc.execution.engine.io.views.timeline.Follow"
            name="Follow">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.deciders">
      <DeciderSpecification
            Class="org.gemoc.execution.engine.io.views.StepByStepUserDecider"
            Icon="icons/user-shield-green-16.png"
            Name="Step by step user decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.gemoc.execution.engine.io.views.UserDecider"
            Icon="icons/user-shield-black-16.png"
            Name="User decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.gemoc.execution.engine.commons.deciders.RandomDecider"
            Icon="icons/question-shield-black-16.png"
            Name="Random decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.gemoc.execution.engine.commons.deciders.CcslSolverDecider"
            Icon="icons/app-shield-black-16.png"
            Name="Solver decider">
      </DeciderSpecification>
   </extension>
   <extension
         point="org.gemoc.gemoc_language_workbench.engine_addon">
      <Addon
            Class="org.gemoc.execution.engine.io.addons.PrepareViewFrontend"
            Default="true"
            Name="Open Views">
      </Addon>
   </extension>


</plugin>
