<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Start of user code plugin.xml start specifics  -->
<!--
   
-->

<plugin>
 <!-- End of user code plugin.xml start specifics  -->
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="fr.obeo.dsl.viewpoint.editor.editorPlugin.ViewpointEditorContributor">
  	  <propertySection
               class="fr.obeo.dsl.sirius.animation.template.editor.properties.sections.animationtemplate.freediagramtemplate.FreeDiagramTemplateDomainClassPropertySection"
               id="animationtemplate.section.freeDiagramTemplate.DomainClass"
               filter="fr.obeo.dsl.sirius.animation.template.editor.properties.filters.animationtemplate.freediagramtemplate.FreeDiagramTemplateDomainClassFilter"
                tab="viewpoint.tab.general">
        <input type="fr.obeo.dsl.sirius.animationtemplate.FreeDiagramTemplate"/>
      </propertySection>
  	  <propertySection
               class="fr.obeo.dsl.sirius.animation.template.editor.properties.sections.animationtemplate.animationtemplate.AnimationTemplateAnimatePropertySection"
               id="animationtemplate.section.animationTemplate.Animate"
               filter="fr.obeo.dsl.sirius.animation.template.editor.properties.filters.animationtemplate.animationtemplate.AnimationTemplateAnimateFilter"
                tab="viewpoint.tab.general">
        <input type="fr.obeo.dsl.sirius.animationtemplate.AnimationTemplate"/>
      </propertySection>
  	<!-- Start of user code propertySections of fr.obeo.dsl.viewpoint.editor.editorPlugin.ViewpointEditorContributor  -->
  	
  	<!-- End of user code propertySections of fr.obeo.dsl.viewpoint.editor.editorPlugin.ViewpointEditorContributor  -->
    </propertySections>
  </extension>

<!-- Start of user code plugin.xml end specifics  -->

  <extension point="org.eclipse.help.contexts">
     <contexts file="help/contexts.xml" plugin="fr.obeo.dsl.sirius.animation.template">
     </contexts>
  </extension>
  
</plugin>    
<!-- End of user code plugin.xml end specifics  -->