<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="fr.obeo.dsl.fuml.ui.launchConfiguration">
<stringAttribute key="First Instruction" value="platform:/resource/test/BasicActiveObjectExample.uml#_Z5ViIHXlEeKEDJ51kkuoUw"/>
<stringAttribute key="Resource" value="/test/BasicActiveObjectExample.uml"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/test/BasicActiveObjectExample.uml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
</launchConfiguration>
