<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="org.gemoc.gemoc_language_workbench.xdsml" name="Gemoc Language Definition" schema="schema/org.gemoc.gemoc_language_workbench.xdsml.exsd"/>
   <extension-point id="org.gemoc.gemoc_language_workbench.deciders" name="GEMOC Decider" schema="schema/org.gemoc.gemoc_language_workbench.decider.exsd"/>
   <extension-point id="org.gemoc.gemoc_language_workbench.backends" name="GEMOC Backend" schema="schema/org.gemoc.gemoc_language_workbench.backends.exsd"/>

</plugin>
