<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XTfsm -->
      <package
            uri="http://org.gemoc.sample.tfsm.concurrent.xtfsm/tfsm/"
            class="org.gemoc.sample.tfsm.concurrent.xtfsm.tfsm.TfsmPackage"
            genModel="model/XTfsm.genmodel"/>
   </extension>

</plugin>
