<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.gemoc.gemoc_language_workbench.process.category"
            name="Process">
      </category>
      <view
            category="org.gemoc.gemoc_language_workbench.process.category"
            class="org.gemoc.gemoc_language_workbench.process.ui.view.ProcessView"
            id="org.gemoc.gemoc_language_workbench.process.view"
            name="Gemoc process"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.gemoc.gemoc_language_workbench.process.view">
         <command
               commandId="org.gemoc.gemoc_language_workbench.process.command.selectProcess"
               icon="icons/full/obj16/Process.gif"
               label="Select process"
               style="push">
         </command>
         <command
               commandId="org.gemoc.gemoc_language_workbench.process.command.startNewProcess"
               icon="icons/full/obj16/Process.gif"
               label="Start new process"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.process.ui.handler.SelectProcessHandler"
            id="org.gemoc.gemoc_language_workbench.process.command.selectProcess"
            name="Select process">
      </command>
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.process.ui.handler.StartNewProcessHandler"
            id="org.gemoc.gemoc_language_workbench.process.command.startNewProcess"
            name="Start new process">
      </command>
   </extension>

</plugin>
