<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.obeo.dsl.process.design.Activator"
               id="fr.obeo.dsl.process.design"
	       name="Process">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="fr.obeo.dsl.process.design.action.ToggleFinalTask"
           id="fr.obeo.dsl.process.design.action.toggleFinalTask">
     </javaActions>
     <javaActions
           actionClass="fr.obeo.dsl.process.design.action.ToggleInitialTask"
           id="fr.obeo.dsl.process.design.action.toggleInitialTask">
     </javaActions>
     <javaActions
           actionClass="fr.obeo.dsl.process.design.action.EditPrecondition"
           id="fr.obeo.dsl.process.design.action.editPrecondition">
     </javaActions>
     <javaActions
           actionClass="fr.obeo.dsl.process.design.action.EditDoneExpression"
           id="fr.obeo.dsl.process.design.action.editDoneExpression">
     </javaActions>
  </extension>
</plugin>
