<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="gemocReflectiveModelBuilder"
         name="Gemoc Reflective Modeling Project"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.gemoc.gemoc_modeling_workbench.ui.builder.GemocReflectiveModelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="gemocReflectiveModelNature"
         name="Gemoc Reflective Modeling Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.gemoc.gemoc_modeling_workbench.ui.builder.GemocReflectiveModelNature">
         </run>
      </runtime>
      <builder
            id="org.gemoc.gemoc_modeling_workbench.ui.gemocReflectiveModelBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.gemoc_modeling_workbench.ui.addnature.contribution">
         <action
               class="org.gemoc.gemoc_modeling_workbench.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/IconeGemocModel-16.png"
               id="org.gemoc.gemoc_modeling_workbench.ui.addRemoveNatureAction"
               label="Add Gemoc Modeling Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
         <and>
            <not>
                <objectState name="projectNature" value="org.gemoc.gemoc_modeling_workbench.ui.gemocReflectiveModelNature"/>
            </not>
            <objectClass name="org.eclipse.core.resources.IProject" />
          </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.gemoc_modeling_workbench.ui.removenature.contribution">
         <action
               class="org.gemoc.gemoc_modeling_workbench.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/IconeGemocModel-16.png"
               id="org.gemoc.gemoc_modeling_workbench.ui.addRemoveNatureAction"
               label="Remove Gemoc Modeling Nature (Reflective)"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         
	    <visibility>
	       <and>
	          <objectClass
	                name="org.eclipse.core.resources.IProject">
	          </objectClass>
	          <objectState
	                name="projectNature"
	                value="org.gemoc.gemoc_modeling_workbench.ui.gemocReflectiveModelNature">
	          </objectState>
	       </and>
	    </visibility>
      </objectContribution>
   </extension>
   <extension
         id="gemocReflectiveModelProblem"
         name="Gemoc Reflective Model Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/IconeGemocModel-10.png"
            id="org.gemoc.gemoc_modeling_workbench.ui.gemocReflectiveModelNature.image"
            natureId="org.gemoc.gemoc_modeling_workbench.ui.gemocReflectiveModelNature">
      </image>
   </extension>
   <!-- definitions of launch menu -->
   	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.gemoc.gemoc_modeling_workbench.ui.launcher.GemocReflectiveModelLauncher"
            id="org.gemoc.gemoc_modeling_workbench.ui.GemocReflectiveModelLauncherID"
            modes="run"
            name="Gemoc eXecutable Reflective Model"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/IconeGemocModel-16.png"
        configTypeID="org.gemoc.gemoc_modeling_workbench.ui.GemocReflectiveModelLauncherID"
        id="org.gemoc.gemoc_modeling_workbench.ui.GemocReflectiveModelLauncherImageID">
    </launchConfigurationTypeImage>
	</extension>
	   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="org.gemoc.gemoc_modeling_workbench.ui.GemocReflectiveModelLauncherID"
	        class="org.gemoc.gemoc_modeling_workbench.ui.launcher.GemocReflectiveModelLauncherTabGroup"
	        id="org.gemoc.gemoc_modeling_workbench.ui.GemocReflectiveModelLauncherTabGroupID">
	    </launchConfigurationTabGroup>
	</extension>
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.gemoc.gemoc_modeling_workbench.ui.launcher.GemocReflectiveModelLauncherShortcut"
            icon="icons/IconeGemocModel-16.png"
            id="org.gemoc.gemoc_modeling_workbench.ui.GemocExecutableReflectiveModel"
            label="Gemoc eXecutable Reflective Model"
            modes="run, debug">
         <configurationType
               id="org.gemoc.gemoc_modeling_workbench.ui.GemocReflectiveModelLauncherID">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate
                     operator="or">
                  <or>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                     <adapt type="org.eclipse.core.resources.IResource">
                     	<test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.kermeta.language.texteditor.eclipse.nature.KermetaNatureID">
                     	</test>
                     </adapt>
                  </or>
               </iterate>
            </enablement>
            <contextLabel
                  label="Run as Gemoc eXecutable Reflective Model"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug as Gemoc eXecutable Reflective Model"
                  mode="debug">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.gemoc.gemoc_language_workbench.ui"
          class="org.gemoc.gemoc_modeling_workbench.ui.wizards.CreateNewGemocModelingProject"
          icon="icons/IconeGemocModel-16.png"
          id="org.gemoc.gemoc_modeling_workbench.ui.wizards.CreateNewGemocModelingProject"
          name="New Gemoc Modeling Project"
          project="true">
    </wizard>
 </extension>

</plugin>
