<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="gemocLanguageDesignerBuilder"
         name="Gemoc Language Designer Project"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.gemoc.gemoc_language_designer.ui.builder.GemocLanguageDesignerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="gemocLanguageDesignerNature"
         name="Gemoc Language Designer Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.gemoc.gemoc_language_designer.ui.builder.GemocLanguageDesignerNature">
         </run>
      </runtime>
      <builder
            id="org.gemoc.gemoc_language_designer.ui.gemocLanguageDesignerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.gemoc_language_designer.ui.addnature.contribution">
         <action
               class="org.gemoc.gemoc_language_designer.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/gemoc-logo-16.png"
               id="org.gemoc.gemoc_language_designer.ui.addRemoveNatureAction"
               label="Add Gemoc Language Designer Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
         <and>
            <not>
                <objectState name="projectNature" value="org.gemoc.gemoc_language_designer.ui.gemocLanguageDesignerNature"/>
            </not>
            <objectClass name="org.eclipse.core.resources.IProject" />
          </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.gemoc_language_designer.ui.removenature.contribution">
         <action
               class="org.gemoc.gemoc_language_designer.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/gemoc-logo-16.png"
               id="org.gemoc.gemoc_language_designer.ui.addRemoveNatureAction"
               label="Remove Gemoc Language Designer Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         
	    <visibility>
	       <and>
	          <objectClass
	                name="org.eclipse.core.resources.IProject">
	          </objectClass>
	          <objectState
	                name="projectNature"
	                value="org.gemoc.gemoc_language_designer.ui.gemocLanguageDesignerNature">
	          </objectState>
	       </and>
	    </visibility>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/gemoc-logo-12.png"
            id="org.gemoc.gemoc_language_designer.ui.gemocLanguageDesignerNature.image"
            natureId="org.gemoc.gemoc_language_designer.ui.gemocLanguageDesignerNature">
      </image>
   </extension>

</plugin>
