<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.inria.fr/aoste/timesquare/backend/EmfExecutionConfiguration" 
       class = "fr.inria.aoste.timesquare.backend.emfExecutionConfiguration.EmfExecutionConfigurationPackage"
       genModel = "fr/inria/aoste/timesquare/backend/EmfExecutionConfiguration.genmodel" /> 
	
  </extension>




</plugin>
