<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="tfsmextended.tfsmextended.TfsmextendedPackage"
            genModel="model/TFSMExtended.genmodel"
            uri="http://org.gemoc.sample.tfsm.plaink3.model/1.0/extended">
      </package>
   </extension>
</plugin>
