<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name=""
         point="org.gemoc.gemoc_language_workbench.xdsml">
      <XDSML_Definition
            modelLoader_class="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DefaultModelLoader"
            name="sigpml"
            solver_class="org.gemoc.gemoc_language_workbench.extensions.timesquare.moc.impl.CcslSolver"
            xdsmlFilePath="/org.gemoc.sigpml.xdsml/project.xdsml"
            toCCSLQVTOFilePath="/org.gemoc.sigpml.moc.application/qvto-gen/modeling/SigPML.qvto"
            codeExecutor_class="org.gemoc.sigpml.xdsml.executor.SigpmlCodeExecutor">
      </XDSML_Definition>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://org.gemoc.sigpml.model/1.0"
            class="org.gemoc.sigpml.xdsml.sigpml.adapters.sigpml_mt.SigPMLAdapter"
            modeltype_name="SigPML_MT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://sigpmlextended"
            class="org.gemoc.sigpml.xdsml.sigpmlextended.adapters.sigpml_mt.SigPMLExtendedAdapter"
            modeltype_name="SigPML_MT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://sigpmlextended"
            class="org.gemoc.sigpml.xdsml.sigpmlextended.adapters.sigpmlextendedmt.SigPMLExtendedAdapter"
            modeltype_name="SigPMLExtendedMT">
      </adapter>
   </extension>

</plugin>
