<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.ecore.extender.PermissionProvider">
      <permissionprovider
            priority="highest"
            providerClass="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DebugPermissionProvider">
      </permissionprovider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.gemoc.gemoc_language_workbench.ui"
            class="org.gemoc.gemoc_language_workbench.extensions.sirius.wizards.NewGemocDebugRepresentationWizard"
            hasPages="true"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.gemoc.gemoc_modeling_workbench.ui.wizards.NewGemocDebugRepresentationWizard"
            name="Create GEMOC debug representation">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gemoc.gemoc_language_workbench.extensions.sirius.command.AddDebugLayerHandler"
            id="org.gemoc.gemoc_language_workbench.extensions.sirius.addDebugLayer"
            name="Add debug layer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.sirius.editor.editorPlugin.SiriusEditorID">
         <menu
               icon="icons/IconeGemocLanguage-16.png"
               id="gemoc"
               label="Gemoc">
            <command
                  commandId="org.gemoc.gemoc_language_workbench.extensions.sirius.addDebugLayer"
                  icon="icons/IconeGemocLanguage-16.png"
                  label="Add debug layer"
                  style="push"
                  tooltip="Add a debug layer to the selected diagram description">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.sirius.diagram.description.DiagramDescription">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
