<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.ecore.extender.PermissionProvider">
      <permissionprovider
            priority="highest"
            providerClass="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DebugPermissionProvider">
      </permissionprovider>
   </extension>

</plugin>
