<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension name="" point="org.gemoc.gemoc_language_workbench.xdsml">
    <XDSML_Definition name="tfsm" toCCSLQVTOFilePath="/org.gemoc.sample.tfsm.eclmoc2as/qvto-gen/modeling/TFSM.qvto" xdsmlFilePath="/org.gemoc.sample.tfsm.xdsml/project.xdsml" codeExecutor_class="org.gemoc.sample.tfsm.xdsml.api.impl.TfsmCodeExecutor" solver_class="org.gemoc.gemoc_language_workbench.extensions.timesquare.moc.impl.CcslSolver" modelLoader_class="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DefaultModelLoader">
      <EngineAddon_Definition engineAddon_class="org.gemoc.sample.tfsm.xdsml.engineAddon.TfsmEngineAddon" />
    </XDSML_Definition>
  </extension>
</plugin>
