<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="gemoc_language_designer_conf.presentation.Gemoc_language_designer_confModelWizardID"
            name="%_UI_Gemoc_language_designer_confModelWizard_label"
            class="gemoc_language_designer_conf.presentation.Gemoc_language_designer_confModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Gemoc_language_designer_confModelFile.gif">
         <description>%_UI_Gemoc_language_designer_confModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="gemoc_language_designer_conf.presentation.Gemoc_language_designer_confEditorID"
            name="%_UI_Gemoc_language_designer_confEditor_label"
            icon="icons/full/obj16/Gemoc_language_designer_confModelFile.gif"
            extensions="gemoc_language_designer_conf"
            class="gemoc_language_designer_conf.presentation.Gemoc_language_designer_confEditor"
            contributorClass="gemoc_language_designer_conf.presentation.Gemoc_language_designer_confActionBarContributor">
      </editor>
   </extension>

</plugin>
