<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="fr.obeo.dsl.fuml.ui.launch.FUMLDelegate"
            id="fr.obeo.dsl.fuml.ui.launchConfiguration"
            modes="debug"
            name="fUML launch configuration"
            sourceLocatorId="fr.obeo.dsl.debug.ide.sourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="fr.obeo.dsl.debug.ide.ui.DSLDebugModelPresentation"
            id="fr.obeo.dsl.fuml.ui.debugModel">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="fr.obeo.dsl.fuml.ui.launchConfiguration"
            icon="icons/fuml_icon.png"
            id="fr.obeo.dsl.fuml.ui.launchConfigurationImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="fr.obeo.dsl.fuml.ui.launch.FUMLTabGroup"
            id="fr.obeo.dsl.fuml.ui.launchConfigurationTabGroup"
            type="fr.obeo.dsl.fuml.ui.launchConfiguration">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="fr.obeo.dsl.fuml.ui.launch.FUMLDelegate"
            description="fUML debug"
            icon="icons/fuml_icon.png"
            id="fr.obeo.dsl.fuml.ui.shortcut"
            label="fUML debug"
            modes="debug">
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.eclipse.debug.ui.matchesPattern"
                        value="uml">
                  </test>
               </iterate>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="fr.obeo.dsl.fuml.ui.launchConfiguration">
         </configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         <command
               commandId="fr.obeo.dsl.fuml.ui.toggleBreakpointCommand"
               icon="icons/breakpoint.gif"
               id="fr.obeo.dsl.fuml.ui.toggleBreakpointCommand"
               label="Toggle fUML breakpoint"
               style="push"
               tooltip="Toggle a fUML breakpoint">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.obeo.dsl.fuml.ui.command.ToggleBreakpointHandler"
            commandId="fr.obeo.dsl.fuml.ui.toggleBreakpointCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.obeo.dsl.fuml.ui.toggleBreakpointCommand"
            name="Toggle fUML breakpoint">
      </command>
   </extension>

</plugin>
