<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2015, 2017  I3S Laboratory  and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        I3S Laboratory - initial API and implementation
 -->
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="xsigpml.xdsml.api.impl.XSigPMLCodeExecutor" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.sample.sigpml.XSigPML" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.gemoc.sample.sigpml.moc.dse/qvto-gen/modeling/SigPML.qvto" xdsmlFilePath="/org.gemoc.sample.sigpml/bin/org/gemoc/sample/sigpml/Main.melange">
      <XDSML_Definition_Customization fileExtensions="sigpml" />
    </XDSML_Definition>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XSigPMLMT -->
    <package class="org.gemoc.sample.sigpml.xsigpmlmt.sigpml.SigpmlPackage" genModel="model-gen/XSigPMLMT.genmodel" uri="http://org.gemoc.sample.sigpml.xsigpmlmt/sigpml/" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="xsigpml.xdsml.api.impl.XSigPMLCodeExecutor" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.sample.sigpml.XSigPML" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.gemoc.sample.sigpml.moc.dse/qvto-gen/language/SigPML.qvto" xdsmlFilePath="/org.gemoc.sample.sigpml/bin/org/gemoc/sample/sigpml/Main.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.sample.sigpml.XSigPMLMT" uri="http://org.gemoc.sample.sigpml.xsigpmlmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="OutputPort:org.gemoc.sample.sigpml.xsigpml.aspects.OutputPortAspect;Agent:org.gemoc.sample.sigpml.xsigpml.aspects.AgentAspect;InputPort:org.gemoc.sample.sigpml.xsigpml.aspects.InputPortAspect;HWComputationalResource:org.gemoc.sample.sigpml.xsigpml.aspects.HWComputationalResourceAspect;NamedElement:org.gemoc.sample.sigpml.xsigpml.aspects.NamedElementAspect;Place:org.gemoc.sample.sigpml.xsigpml.aspects.PlaceAspect;System:org.gemoc.sample.sigpml.xsigpml.aspects.SystemAspect" entryPoints="" exactType="org.gemoc.sample.sigpml.XSigPMLMT" id="org.gemoc.sample.sigpml.XSigPML" uri="http://org.gemoc.sample.sigpml.xsigpml/sigpml/">
      <adapter class="org.gemoc.sample.sigpml.xsigpml.adapters.xsigpmlmt.XSigPMLAdapter" modeltypeId="org.gemoc.sample.sigpml.XSigPMLMT" />
    </language>
  </extension>
</plugin>
