<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.gemoc.sample.legacytfsm.xstfsm.allinone.design.Activator"
               id="org.gemoc.sample.legacytfsm.xstfsm.allinone.design"
	       name="AllinOneXSTFSM">
    </component>
  </extension>
</plugin>
