<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XSigPML -->
      <package
            uri="http://org.gemoc.sample.sigpml.xsigpml/sigpml/"
            class="org.gemoc.sample.sigpml.xsigpml.sigpml.SigpmlPackage"
            genModel="model/XSigPML.genmodel"/>
   </extension>

</plugin>
